.title-contain-main{
    display: flex;
    align-items: center;
}
#div-treinosAdd-return {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

#back{
    cursor: pointer;
}
p{
    margin-left: 3%;
}

.bi-trash-fill, .bi-pencil-square{
    font-size: 1.2rem;
    transition: 0.6s;
}
.bi-trash-fill:hover{
    color:var(--cor-5) ;
}
.bi-pencil-square:hover{
    color:var(--cor-7) ;
}
.avaliacao-card {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(255, 147, 83, 1) 0%, rgba(255, 107, 20, 1) 39%, rgba(255, 107, 20, 1) 100%, rgba(255, 107, 20, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 7px;
    color: var(--cor-3);
    cursor: pointer;
}
.avaliacao{
    width: 100%;
}
.detalhes-avaliacao{
    width: 100%;
    display: flex;
    flex-direction:row ;
    gap: 2%;
    padding: 2%;
}
.nome-avaliacao {
    width: 90%;
}

.nome-avaliacao i {
    margin: 1%;
}

.icon-op-avaliacao {
    width: 15%;
    display: flex;
}

.icon-op-avaliacao i {
    margin: 10%;
}

#preloader-avaliacao{
    width: 100%;
    height: 100vh;
    padding: 2%;
    position: fixed;
    background-color: var(--cor-11);
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
    display: none;
}

#preloader-avaliacao img{
    width: 5%;
    padding: 1%;
    border-radius: 100px;
    animation: pisca 1s infinite;
    transition: 1s ease-in-out;
    margin-top: 2%;
}

.accordion {
    margin-top: 5%;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}


.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: 0px 0px 40px -3px rgb(102, 102, 102);
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}

.dia{
    width: 29%;
    background-color: white;
    margin: 2%;
    border-radius: 5px;
    border-radius: 10px;
}

.nome_dia{
    background-color: var(--cor-1);
    padding: 3%;
    color: var(--cor-3);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.exercicio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    flex-wrap: wrap;
    border-bottom: 1px  solid var(--cor-12);
}

.nome-exercicio{
    word-wrap: break-word;
    max-width: 100%;
}
.exercicio img{
    width: 15%;
    height: 5vh;
    object-fit: cover;
}

.nome-exercicio{
    word-wrap: break-word;
}

.nome-aluno{
    font-size: 1.2rem;
    margin-left: 1%;
    margin-top: 0.5%;
}
@media screen and (max-width: 800px) {
    .dia{
        width: 100%;
    }
    .icon-op-treino {
        width: 25%;
    }
    
#preloader-treino img{
    width: 20%;
}
}




#div-avaliacaoAdd-return {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  input[type="number"] {
    text-align: center;
  }
  
.title-contain-main{
    display: flex;
    align-items: center;
    font-size: 1.5rem !important;
}
  .nome-aluno{
    font-size: 1.2rem;
    margin-left: 1%;
    margin-top: 0.35%;
}
#back{
    cursor: pointer;
}

#dados-avaliacao{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
}

.title-dado{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(250, 131, 61) 0%, rgba(255,107,20,1) 39%, rgba(255,107,20,1) 100%, rgba(255,107,20,1) 100%);
    color: var(--cor-3);
    padding: 0.5% 2% 0.5% 2%;
    margin: 1% !important;
    margin-left: 0 !important;
    border-radius: 5px;
    height: 3vh;
    display: flex;
    align-items: center;
    margin-top: 4% !important;
    width: 91%;
}
.title-dado i{
    margin-right: 1%;
}
.contain-dado-1{
    width: 100%;
}
.contain-dado-2{
    width: 96.3%;
    display: inline-flex;
    flex-wrap: wrap;
}
.contain-dado-2 .title-dado{
    width: 100%;
    display: flex;
    align-items: center;
}
.model-1, .model-2{
    outline: none;
    border: none;
    padding: 1%;
    border-radius: 7px;
    width: 93%;
    font-size: 1.3rem;
    color: var(--cor-4);
}
.model-1:focus, .model-2:focus{
    border: 1px solid var(--cor-1);
}
.model-2{
    width: 40% !important;
    padding: 3%;
}
.contain-dado-2 div{
    width: 32%;
}
.dado-individual{
    width:30% !important;
    display: inline-block;
    margin-left: 18.7%;
}
.dado-individual .text-dado{
    margin-right:37% ;
}
.dados-duplos{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.dados-duplos .model-2{
    padding: 5%;
    width: 50% !important;
}

.dados-duplos  div{
    width: 42% !important;
}
.dado-individual .model-2{
    padding: 5%;
    width: 33% !important;
}
#enviarAvaliacao{
    display: flex;
    justify-content: end;
}
#buttonEnviarAvaliacao{
    border: none;
    padding: 1% 4% 1% 4%;
    background-color: var(--cor-1);
    color: var(--cor-3);
    cursor: pointer;
    border-radius: 5px;
}
#direito, #esquerdo{
    width: 23% !important;
    text-align: center;
    padding: 1%;
    border-radius: 7px;
    color: var(--cor-3);
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
#direito{
    background-color: var(--cor-10);
}
#esquerdo{
    background-color: var(--cor-1);
    margin-left: 17%;
}
@media screen and (max-width: 800px) {
    .title-contain-main{
        margin-top: 1rem !important;
        font-size: 1.2rem;
    }
    .contain-dado-2{
        width: 100%;
        margin-top: 5%;
    }
    #buttonEnviarAvaliacao{
        padding: 4% 6% 4% 6%;
        margin-top: 10%;
    }
    .title-dado{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dados-avaliacao{
        width: 100%;
        margin-left: 0;
    }
}