#item-menu-avisos {
    background-color: var(--cor-2);
}

#adicionar {
    cursor: pointer;
}

#div-avisos-button {
    display: flex;
    justify-content: space-evenly;
}

#div-avisos-button a {
    width: 120px;
    padding: 0.6rem;
    background-color: var(--cor-1);
    color: var(--cor-3);
    border-radius: 5px;
    transition: 0.5s;
    text-align: center;
}

#div-avisos-button a:hover {
    background-color: var(--cor-5);
    transition: 0.5s;
}

#avisos-lista {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

.avisos-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 27%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -7px black;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 3%;
}

.avisos-div:hover {
    transform: translateY(-10px);
}

.img-icos {
    display: flex;
    justify-content: end;
}

.fa-trash-can {
    right: 0px;
    padding: 0.5rem;
    background-color: var(--cor-1);
    color: var(--cor-3);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.fa-trash-can:hover {
    background-color: var(--cor-5);
    transition: 0.5s ease-in-out;
}

.text-edit {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.text-edit input {
    width: 100%;
    padding: 4%;
    border: 1px solid var(--cor-1);
    font-size: 1rem;
}

.text-edit input:focus {
    border: 1px solid var(--cor-1);
}

.text-edit p {
    width: 200px;
    word-break: break-word;
    margin-top: 2%;
    padding: 4%;
}

.fa-pen-to-square {
    cursor: pointer;
}

#file-notice {
    display: none;
}

@media screen and (max-width: 800px) {
    .avisos-div {
        width: 90%;
    }
}