/* menu */
#item-menu-dashboard {
    background-color: var(--cor-2);
}


#contain-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contain-info-dashboard {
    margin: 8% 0% 0% 5%;
    padding: 4% 10% 4% 7%;
    width: 20%;
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 5px 32px -10px rgba(0, 0, 0, 0.534);
    transition: 1s;
}

.contain-info-dashboard:hover {
    transform: scale(1.02);
}

#total-alunos {
    color: var(--cor-3);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(255, 147, 83, 1) 0%, rgba(255, 107, 20, 1) 39%, rgba(255, 107, 20, 1) 100%, rgba(255, 107, 20, 1) 100%);
}


#icon-alunos,
#icon-ausentes {
    font-size: 5rem;
}

.sub-contain-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

.sub-contain-info h2 {
    font-size: 4rem;
    font-weight: 500;
}

.sub-contain-info h4 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -10%;
}

#total-alunos {
    background-color: red;
}

#alunos-ausentes {
    /* background-color: blue; */
}


#aniversario {
    background-image: url('../../../public/assets/images/parabens.gif');
    color: var(--cor-4);
    padding: 4% 10% 4% 7%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 62%;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0px 5px 32px -10px rgba(36, 36, 36, 0.5);
    transition: 0.7s;
    border-right: 10px solid rgba(80, 0, 0, 0);
}

#aniversario:hover {
    transform: scale(1.02);
    background-image: url('../../../public/assets/images/parabens.gif');
}

#itens-niver i {
    font-size: 4rem;
    margin-top: 7%;
    margin-right: 10%;
    color: var(--cor-1);
}

#text-niver h4 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: -7%;
}

#numero-aniversariantes {
    font-size: 4rem;
    text-align: center;
    font-weight: 500;
}

#itens-niver {
    display: flex;
}

#nomes-aniversariantes {
    margin-left: 40%;
}

#data-niver {
    display: flex;
}

#data-niver i {
    color: var(--cor-1);
}

#data-niver h4 {
    margin-left: 3%;
}

#lista-aniversariantes {
    margin-top: 5%;
}

@media screen and (max-width: 800px) {

    #contain-dashboard {
        margin-top: 20%;
        width: 80%;
    }

    .contain-info-dashboard {
        width: 100%;
        margin: 2% 0 0 0;
        justify-content: space-around;
    }

    #aniversario {
        width: 81%;
        flex-direction: column;
        margin-left: 0;
        margin-top: 10%;
    }

    #nomes-aniversariantes {
        margin-left: 0;
        margin-top: 10%;
        width: 100%;
    }

    #lista-aniversariantes {
        text-align: center;
    }

    #numero-aniversariantes {
        margin-top: 25%;
    }

    #itens-niver {
        align-items: end;
        justify-content: space-around;
        width: 100%;
    }

    .sub-contain-info h2 {
        font-size: 3rem;
    }

    .sub-contain-info h4 {
        font-size: 1rem;
    }

    #icon-alunos,
    #icon-ausentes {
        font-size: 3rem;
        display: flex;
        align-items: center;
    }

    .title-contain-main {
        margin-top: 7vw !important;
    }

    .contain-main {
        justify-content: center !important;
    }

    #data-niver {
        margin-top: 5%;
    }
}