#menuAddTreino {
    background-color: var(--cor-2) !important;
}

.title-contain-main{
    margin-top: 0.8rem !important;
}

#nomeDescricao {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    border-radius: 7px;
}
#back{
    cursor: pointer;
    margin-top: 1vw;
}
#nomeDescricao input,
#nomeDescricao textarea, #inputBuscarExercicio {
    border: 1.5px solid var(--cor-12);
    padding: 1.3%;
    margin: 1% 0 1% 0;
    outline: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

#nomeDescricao input:focus,
#nomeDescricao textarea:focus, #inputBuscarExercicio:focus {
    border: 1px solid var(--cor-1);
}

#diaDivisoes {
    display: flex;
    border-radius: 10px;
    margin-top: 3%;
}

#addDivisoes {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgb(224, 125, 68) 0%, rgba(255, 107, 20, 1) 39%, rgba(255, 107, 20, 1) 100%, rgba(255, 107, 20, 1) 100%);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--cor-3);
    cursor: pointer;
    padding: 1%;
}

#exercicioTreino{
    display: flex;
    justify-content: space-between;
}
#buscarExercicio{
    width: 49%;
}

#inputBuscarExercicio{
    width: 96%;
    padding: 2%;
    margin: 8% 0 4% 0;
}
.exercicio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px  solid var(--cor-12);
    border-left:4px solid var(--cor-1) ;
    margin: 1% 0 1% 0;
}

.nome-exercicio{
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    width: 25%;
}
.exercicio img{
    width: 12%;
    height: 8vh;
    object-fit: cover;
}

.addExercicio,.deleteExercicio{
    background-color: var(--cor-1);
    color: var(--cor-3);
    padding: 3.7%;
    border-radius: 7px;
    cursor: pointer;
}

#diasCorrespondentes{
    width: 40%;
    padding: 4% 5% 5% 5%;
}
.dia{
    width: 100%;
    height: 35vh;
    overflow: overlay;
    background-color: white;
    border-radius: 5px;
    border-radius: 10px;
}
.dia input{
    pointer-events: none;
    width: 8%;
    border: none;
    outline: none;
}
.rep-exercicio{
    margin-right: 3%;
}

.nome_dia{
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(255, 147, 83, 1) 0%, rgba(255, 107, 20, 1) 39%, rgba(255, 107, 20, 1) 100%, rgba(255, 107, 20, 1) 100%);
    padding: 3%;
    color: var(--cor-3);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.dia {
    display: none;
}

.teste {
    display: flex;
}
.containersDivisoes {
    width: 14, 1%;
    padding: 1%;
    border: 1px solid var(--cor-12);
    cursor: pointer;
    color: black; /* Cor normal do texto */
}
.containersDivisoes.selected {
    background-color: var(--cor-1); /* Cor do texto quando selecionado */
    color: var(--cor-3);
    transition: 0.5s ease-in-out;
}

.containersDivisoes.noselected {
    background-color: rgb(255, 255, 255); /* Cor do texto quando selecionado */
    transition: 0.5s ease-in-out;
}
.expandable-content {
    display: none;
    margin-top: 10px;
}
#resultadosExercicios{
    overflow: overlay;
    height: 25vh;
    border: 1px solid var(--cor-12);
    border-radius: 5px;
    padding: 2%;
}

#resultadosExercicios input{
    width: 10%;
    padding: 2% 0 2% 0;
    text-align: end;
    border: 1px solid var(--cor-12);
    border-bottom: 3px solid var(--cor-1);
    border-radius: 3px;
    outline: none;
    text-align: center;
    font-size: 1rem;
    color: var(--cor-4);
}

.bi-trash-fill{
    transition: 0.5s;
}
.bi-trash-fill:hover{
    color: var(--cor-5);
    cursor: pointer;
}
#resultadosExercicios input:focus{
    border: 1px solid var(--cor-1);
    border-bottom: 3px solid var(--cor-1);
}

#enviarTreino{
    background-color: var(--cor-1);
    color: var(--cor-3);
    border: none;
    padding: 1% 2% 1% 2%;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 90%;
    transition: 0.5s;
}

#enviarTreino:hover{
    background-color: var(--cor-2);
}

#enviarTreino i{
    font-size: 1.3rem;
    margin-left: 3%;
}

#preloaderExercicios{
    display: none;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

#preloaderExercicios img{
    width: 5%;
    background-color: var(--cor-1);
    padding: 2%;
    border-radius: 100px;
    animation: pisca 1s infinite;
}

@keyframes pisca {
    0%{
        transform:scale(1) ;
    }
    100%{
        transform: scale(2);
    }
}
#div-treinosAdd-return {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }


@media screen and (max-width: 800px) {
    #enviarTreino{
        margin-left: 65%;
        padding: 3% 5% 3% 5%;
    }

    #exercicioTreino{
        flex-wrap: wrap;
        width: 98%;
    }
    #buscarExercicio{
        width: 100%;
    }
    #diasCorrespondentes{
        width: 100%;
    }
    #resultadosExercicios input{
        text-align: center;
    }
    #back{
        margin: 0;
    }
    #menu-treino {
        width: 100%;
        display: flex;
    }
    #nomeDescricao input, #nomeDescricao textarea, #inputBuscarExercicio{
        padding: 4%;
    }
    #addDivisoes{
        padding: 4%;
        display: flex;
        flex-direction: row;
    }
    .containersDivisoes{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #diaDivisoes{
        margin-top: 15%;
    }
}