/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

:root {
    --cor-1: #FF6B14;
    --cor-2: #DD5E13;
    --cor-3: #fff;
    --cor-4: #5C5C5C;
    --cor-5:#B53636;
    --cor-6:#383838;
    --cor-7:#A1A1A1;
    --cor-8:#278314;
    --cor-9:#161616;
    --cor-10:#888 ;
    --cor-11:#ff6a14c2;
    --cor-12:#c0c0c0de;
}

*{
    padding: 0;
    margin: 0;
    scrollbar-width: thin; /* Barra de rolagem fina */
    scrollbar-color: var(--cor-10) var(--cor-3); /* thumb color, track color */
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Padrão (Regular) */
}

a{
    text-decoration: none;
}

.contain-main{
    display: flex;
    justify-content: end;
}
.contain-secondary{
    width: 74%;
    transition: 0.8s ease;
    padding: 3%;
}
.title-contain-main{
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .contain-secondary{
        width: 100%;
    }
    .contain-main{
        justify-content: stretch;
        width: 100%;
    }

    .title-contain-main{
        margin-bottom: 5%;
    }
}