/* font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');


/* 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
 */

*{
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Padrão (Regular) */
}

a{
    text-decoration: none;
}

:root {
    --cor-1: #FF6B14;
    --cor-2: #DD5E13;
    --cor-3: #fff;
    --cor-4: #5C5C5C;
    --cor-5:#B53636;
    --cor-6:#383838;
    --cor-7:#A1A1A1;
    --cor-8:#278314;
    --cor-9:#161616;
}