#menu-treino div {
    display: flex;
    width: 70%;
    padding: 0px;
    flex-grow: 1;
}

#menu-treino a {
    display: flex;
    border: none;
    padding: 15px;
    color: var(--cor-3);
    background-color: var(--cor-1);
    font-size: 18px;
    font-weight: normal;
    width: 30%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

#menu-treino a:hover {
    background-color: var(--cor-5);
    transition: 0.5s;
}

#menu-treino a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu-treino a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-treino a p:hover {
    transition: 0.5s;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

#menu-treino a p {
    transition: 0.5s;
    cursor: pointer;
}