#menu-treino div {
    display: flex;
    width:60%;
    padding: 0px;
    flex-grow: 1;
    margin-top: 3%;
    box-shadow: 0px 4px 19px -3px rgb(90, 90, 90);
    border-radius: 10px;
}

#menu-treino a {
    display: flex;
    border: none;
    padding: 15px;
    color: var(--cor-3);
    background-color: var(--cor-1);
    font-size: 15px;
    font-weight: normal;
    width: 33.3%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

#menu-treino a p {
   width: 100%;
   text-align: center;
}

#menu-treino a p i{
    margin-right: 3%;
 }

#menu-treino a:hover {
    background-color: var(--cor-2);
    transition: 0.5s;
}

#menu-treino a:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu-treino a:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu-treino a p:hover {
    transition: 0.5s;
    -xpedu-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    transition: 0.5s;
}

#menu-treino a p {
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #menu-treino{
        margin-top:15% ;
        width: 97%;
    }
    #menu-treino div{
        width: 95%;
    }
}