#menu-treino {
    margin-top: 20px;
    background-color: var(--cor-1);
    padding: 20px;
    width: 70%;
    border-radius: 10px;
}

#menu-treino div {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
}

#menu-treino a {
    display: flex;
    border: none;
    color: var(--cor-3);
    background-color: var(--cor-1);
    font-size: 18px;
    font-weight: normal;
    width: 30%;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

#menu-treino a:hover {
    transition: 0.5s;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}