#menuExercicio{
    background-color: var(--cor-2) !important;
}
#nomeDescricao{
    display: flex;
    flex-direction: column;
}
#nomeDescricao input {
    border: 1.5px solid var(--cor-12);
    padding: 1.3%;
    margin: 1% 0 1% 0;
    outline: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-bottom: 5%;
    margin-top: 3%;
}

#nomeDescricao input:focus {
    border: 1px solid var(--cor-1);
}
.exercicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.226);
    margin-bottom: 1%;
    border-right: 4px solid var(--cor-1);
}

.exercicio img{
    width: 10%;
    height: 10vh;
    object-fit: cover;
}
#buttonsEditDelete{
    padding-right: 5%;
    font-size: 1.2rem;
    display: flex;
    gap: 50%;
    color: var(--cor-1);
}
.editExercicio,.deleteExercicio{
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.editExercicio:hover{
    color: var(--cor-7);
}
.deleteExercicio:hover{
    color: var(--cor-5);
}
.nome_exercicio, .descricao_exercicio{
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    width: 25%;
}
#back{
    cursor: pointer;
}
#div-treinosAdd-return {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
@media screen and (max-width: 800px) {
    #exerciseForm{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #exercicioTreino{
        flex-wrap: wrap;
        width: 98%;
    }
    #menu-treino {
        width: 100%;
        display: flex;
        margin-top: 0;
    }
    #back{
        margin-top: -2% !important;
    }
    .title-contain-main{
        margin-top: 1% !important;
        margin-bottom: 3% !important;
    }
    #nomeDescricao{
        width: 100%;
    }
    #nomeDescricao input{
        padding: 4%;
        margin-top: 5%;
    }
    .exercicio{
        width: 100%;
        margin-bottom: 5%;
    }
    .resultadosExercicio{
        width: 95%;
  
    }
    #buttonsEditDelete{
        padding-right: 10%;
    }
    .exercicio img{
        width: 20%;
    }
}